<!DOCTYPE html>
<html>
<head>
    <title>Spam Classifier by Arun Kushwah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{{ result|lower }}-bg">
    <div class="container">
        <h1>SMS / Email Spam Classifier</h1>
        <form method="POST">
            <textarea name="message" placeholder="Enter your message here..." required></textarea>
            <button type="submit">Check Message</button>
        </form>

        {% if result %}
            <div class="result-box {{ result|lower }}">
                Result: {{ ans }}
            </div>
        {% endif %}
    </div>
</body>
</html>
